/* /* body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url(./assets//images/bgimage.jpg);
  /* background-image: radial-gradient(#205d3e, #03211c, #00080a); */

/* overflow-x: hidden; */

body {
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  opacity: 0.8;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed-top;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-blend-mode: darken;
  z-index: -1;
  color: #fff;
  background-image: url(./assets//images/art-homes-logo1.png);
  filter: blur(50px);
  /* background-image: radial-gradient(#205d3e, #03211c, #00080a); */

  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

#landing video {
  z-index: -100;
  min-width: 100%;
  transform: scale(0.5) translate(-50%, -50%);

  /* filter: blur(10px); */
}

.menu {
  /* background: radial-gradient(#205d3e, #03211c, #00080a); */
  background-color: rgba(56, 25, 25, 0.2);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 3;
  padding: 0 40px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
}

.menu__list {
  list-style-type: none;
  padding: 30px;
  height: 100%;
  margin: 0;
}

.menu__link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  /* transform: matrix(1, 0, -0.5, 1.1, 0, 0); */
  transform: translate(20px);
}

.menu__link:active,
.menu__link.active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  border-radius: 8px;
}

.menu__list-item {
  display: inline-block;

  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  transition: transform 0.4s;
  border-radius: 8px;
}

.logo-wrapper {
  padding-right: 20px;
}

/* .card-img-top{
  width: 286px;
} */

.menu__logo {
  height: 60px;
  width: 150px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 5px 6px 6px 0px rgb(46, 3, 3);
}

.house-list > .card {
  width: 60%;
  border: 3px solid rgba(8, 31, 25, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}

.house-list > .card:hover {
  transform: scale(1);
}

.card {
  transition: transform 0.6s;
  width: 100%;
  min-width: 100px;
  min-height: 375px;
  max-height: 400px;
  color: #000;
  display: flex;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card button {
  padding: 4px 12px !important;
  font-size: 12px;
  font-weight: 600;
  background-color: #0a3646;
}

.card button:hover {
  background-color: rgb(7, 32, 41);
}

.card:hover {
  transform: scale(1.1);
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  object-fit: contain;
  width: 100%;
  background: rgba(6, 35, 28, 0.3);
  border: 1px solid #000;
  padding: 20px;
}

.card-button {
  background-color: #025aa5;
  position: relative;
  height: 30px;
  display: flex;
  margin: 5px auto;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  /* background: radial-gradient(#205d3e, #03211c, #00080a) !important; */
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 570px;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  height: 570px;
}

.about-wrapper {
  background: rgba(99, 73, 73, 0.3);
  border-radius: 5px 5px 0 0;
  padding: 20px;
  color: #000;
  max-width: 1200px;
  margin: 20px auto;
  font-weight: 600;
}

/* .about-body {
  margin-top: 100px;
} */

.masthead {
  clip: auto;
  position: static;
  padding-bottom: 15px;
}

.masthead__title {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  letter-spacing: 0.15em;
  margin: 0;
  margin-top: 0px;
  border-bottom: 5px solid #000;
  text-align: center;
  font-size: 30px;
}

.about-img {
  width: 275px;
  height: 225px;
}

.art-homes-heading {
  font-size: 25px;
}

.adress-icon {
  margin-right: 15px;
}

.margin-left35 {
  margin-left: 35px;
}

.padding20 {
  padding: 20px;
}

.bottom-list {
  padding: 10px;
}

.bottom-list-head {
  font-size: 20px;
  color: #000;
  border-bottom: 2px solid #000;
}

.bottom-list-item {
  list-style-type: none;
  padding: 0;
}

.bottom-list-link {
  padding: 10px 0;
}

.bottom-list-link a {
  color: rgb(43 17 17);
  font-size: 15px;
}

input {
  background-color: transparent;
  border-radius: 15px;
  color: #000;
  outline: none;
  padding: 4px 8px;
  border-color: #000;
  width: 30%;
}

input::placeholder {
  color: #000;
}

.query-body button {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 10%;
}

.tab-body {
  margin: 5px;
  border-bottom: 3px solid #000;
}

.tabActiveButton {
  background: #000;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
}

.tabDeactiveButton {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
}

.media-icon {
  color: #ffffff;
  margin: 5px;
}

.place-item {
  margin: 1rem 0;
}

.place-item__content {
  padding: 0;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#our-team {
  padding: 5.6rem 0;
  color: #000;
  background: rgba(6, 35, 28, 0.5);
}
#our-team img {
  height: 270px;
  object-fit: cover;
}
#our-team i {
  transition: opacity 0.2s;
}
#our-team i:hover {
  opacity: 0.5;
}

#our-team .card {
  min-height: 0;
}

#our-team .card > div {
  background-color: rgba(30, 30, 30, 0.7);
  transform: translateX(-100%);
  transition: transform 0.35s;
}
#our-team .card:hover > div {
  transform: translateX(0);
}

.main-navigation__menu-btn {
  display: none;
}

.mail-link,
.mail-link:hover {
  color: #000;
}

/* @media (max-width: 991px) {
  .menu__link {
    padding: 10px 10px;
  }
  .menu__list {
    list-style-type: none;
    padding: 20px;
    height: 0;
    margin: 0;
    display: contents;
  }
} */

@media (max-width: 768px) {
  .main-navigation__menu-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }

  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: #000;
  }

  .navbar-item {
    display: none;
  }
  .menu__link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    transition: transform 0.4s;
    border-radius: 8px;
  }
  .menu__link:active,
  .menu__link.active:hover,
  .menu__link.active {
    color: #fff;
    background-color: rgba(173, 35, 35, 0.5);
    font-weight: 700;
    border-radius: 8px;

    transform: translate(0px);
  }
  .menu__list {
    list-style-type: none;
    padding: 40px;
    height: 0;
    margin: 0;
    display: grid;
  }
  .menu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);

    transform: translate(20px);
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
  }
  .card-item {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 80% !important;
    margin-top: 50px;
    margin-left: 35px;
    min-height: 450px;
  }
}
